@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #327f6b;
  --color-darkPrimary: #245e4f;
  --color-lightText: #6b7280;
  --color-darkText: #3f3d56;
  --color-lightWhite: #ffffffb3;
  --color-grayGreen: #f7fcfc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

footer {
  background-image:
    url(https://greenvanservices.com/static/img/v2/leaves-pattern.png),
    linear-gradient(94.85deg, rgb(81, 191, 166) 0%, rgb(33, 94, 76) 100%);
}

.leaf-style-list {
  list-style: none;
  padding-left: 0;
}
.leaf-style-list li {
  position: relative;
  padding-left: 30px;
}
.leaf-style-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 22px;
  height: 22px;
  background-image: url('data:image/svg+xml;utf8,<svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0)"><path d="M10.065 4.42C15.718 3.796 17.555.22 17.56.22a.364.364 0 01.674.072c1.88 6.373.854 10.767-1.303 13.374a8.115 8.115 0 01-3.117 2.325 7.764 7.764 0 01-3.538.6c-2.317-.162-4.433-1.4-5.414-3.616a6.025 6.025 0 01-.482-1.786 6.138 6.138 0 01.692-3.578 5.937 5.937 0 012.853-2.623c.679-.3 1.4-.492 2.139-.57z" fill="%2333AA8B"/><path d="M17.521.355a.364.364 0 11.724.062c0 .018-.318 4.198-4.398 8.428l-.038.04a21.208 21.208 0 01-3.14 2.651l2.45.456a.364.364 0 01-.122.715l-3.198-.6c-2.917 1.848-7.86 3.553-8.293 7.577a.364.364 0 01-.723-.072c.515-4.823 5.417-6.065 8.724-8.174l.046-.03a21.01 21.01 0 003.644-2.92l-.29-2.87a.362.362 0 01.325-.41.364.364 0 01.399.339l.22 2.227c3.4-3.819 3.668-7.403 3.67-7.42z" fill="%23327F6B"/></g><defs><clipPath id="clip0"><path fill="%23fff" d="M0 0h20v20H0z"/></clipPath></defs></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-green-triangle {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjIwIiBoZWlnaHQ9Ijc2MiIgdmlld0JveD0iMCAwIDYyMCA3NjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNjIwIDc2MS41SDBMNjIwIDBWNzYxLjVaIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIi8+DQo8ZGVmcz4NCjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhciIgeDE9IjMxNC41IiB5MT0iMTg1Ljg2NCIgeDI9IjMxNC41IiB5Mj0iNzYxLjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4NCjxzdG9wIHN0b3AtY29sb3I9IiM1MUJGQTYiLz4NCjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzIxNUU0QyIvPg0KPC9saW5lYXJHcmFkaWVudD4NCjwvZGVmcz4NCjwvc3ZnPg0K);
  color: var(--clr-black);
  background-repeat: no-repeat;
  background-position: right center;
}

@media (min-width: 1440px) {
  .bg-green-triangle {
    background-size: 150vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg-green-triangle {
    background-position: 150% 101%;
  }
}
@media only screen and (max-width: 767px) {
  .bg-green-triangle {
    background-size: 220px;
    background-position: 100% 101%;
  }
}
